body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.3'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: whitesmoke;
  font-family: "Comfortaa", cursive;
}

header {
  padding: 15px;
  background-color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background-color: black;
}

header::before {
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#6200ff), to(#0015ff));
  background: linear-gradient(90deg, #6200ff, #0015ff);
}

header h1 {
  text-transform: uppercase;
  letter-spacing: -4px;
  font-weight: lighter;
  margin: 0;
  height: 2.5rem;
}

header button {
  color: #6200ff;
  background-color: white;
  border: none;
  padding: 5px;
}

#ShowName {
  text-align: center;
}

#ShowName h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: auto;
  padding: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.search input {
  padding: 5px;
  font-size: 1rem;
  height: calc(1rem + 10px);
  width: calc(100% - 10px - 120px);
  margin-right: 10px;
}

.search input, .search button {
  background-color: whitesmoke;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(144, 75, 255, 0.7);
          box-shadow: 0px 0px 0px 0px rgba(144, 75, 255, 0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.search input:focus, .search button:focus {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(144, 75, 255, 0.7);
          box-shadow: 0px 0px 0px 3px rgba(144, 75, 255, 0.7);
  outline: none;
}

.search button {
  min-width: 120px;
  color: #6200ff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(144, 75, 255, 0.7);
          box-shadow: 0px 0px 0px 0px rgba(144, 75, 255, 0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 0;
}

.search button i {
  -webkit-transition: inherit;
  transition: inherit;
  width: 0;
  opacity: 0;
}

.search button:hover i {
  margin: 0 5px;
  width: 1rem;
  opacity: 1;
  -webkit-animation: roll 0.5s forwards;
          animation: roll 0.5s forwards;
}

.search button:focus {
  background-color: #6200ff;
  color: whitesmoke;
}

.movies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: calc(100vw - 30px);
  gap: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc((100vw - 30px) * 9 / 16);
  margin: auto;
}

.movies .movie {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-position: 50% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vw - 30px);
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movies .movie .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

.movies .movie .desc::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#6200ff), to(#0015ff));
  background: linear-gradient(90deg, #6200ff, #0015ff);
  opacity: 0.8;
  z-index: -1;
}

.movies .movie .desc h6 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movies .movie .desc .poster {
  display: none;
}

.movies .movie .desc .expanded-details {
  position: absolute;
  width: 100%;
  height: 200%;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  background: -webkit-gradient(linear, left top, right top, from(#6200ff), to(#0015ff));
  background: linear-gradient(90deg, #6200ff, #0015ff);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  padding: 20px;
  z-index: 1;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.movies .movie .desc .expanded-details span, .movies .movie .desc .expanded-details .rating h5 {
  color: cornflowerblue;
}

.movies .movie.focused .expanded-details {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .movies {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
  }
  .movies .movie {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 768px) {
  header button {
    display: none;
  }
  .search {
    position: relative;
    width: auto;
    opacity: 1;
    padding: 0;
  }
  .search button {
    display: initial;
    padding: 0;
  }
  .movies {
    grid-auto-rows: 337.5px;
  }
}

@media only screen and (min-width: 992px) {
  .movies {
    grid-auto-rows: 457.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    height: calc(100vh - 2.5rem - 30px);
  }
  .container .movies {
    width: 100%;
    height: calc(1140px * 9 / 16);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-perspective: 1000;
            perspective: 1000;
    gap: 0;
  }
  .container .movies .movie {
    border: 1px solid white;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-perspective: 1000;
            perspective: 1000;
    margin: 0;
  }
  .container .movies .movie .desc {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transition: inherit;
    transition: inherit;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .container .movies .movie .desc h6 {
    -webkit-transition: inherit;
    transition: inherit;
    font-size: 1rem;
    white-space: initial;
    text-overflow: initial;
    overflow: initial;
  }
  .container .movies .movie .desc .poster {
    position: relative;
    height: 100%;
    opacity: 0;
    -webkit-transition: inherit;
    transition: inherit;
    z-index: 0;
    display: block;
  }
  .container .movies .movie .desc .poster img {
    height: 100%;
    width: 0;
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-animation: hide 0.4s forwards;
            animation: hide 0.4s forwards;
  }
  .container .movies .movie .desc .poster span {
    position: absolute;
    top: -100%;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
    z-index: 1;
    color: white;
    font-size: 1.2rem;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }
  .container .movies .movie .desc .poster::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, right top, from(#6200ff), to(#0015ff));
    background: linear-gradient(90deg, #6200ff, #0015ff);
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    z-index: 1;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .container .movies .movie .desc .details {
    padding: 15px;
    margin: auto;
    width: 100%;
    opacity: 1;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .container .movies .movie .desc .expanded-details {
    position: initial;
    -webkit-transform: none;
            transform: none;
    background-color: transparent;
    display: block;
    width: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: inherit;
    transition: inherit;
    overflow: auto;
    scrollbar-color: cornflowerblue #6200ff;
    scrollbar-width: thin;
    height: auto;
  }
  .container .movies .movie .desc .expanded-details::-webkit-scrollbar {
    width: 7px;
  }
  .container .movies .movie .desc .expanded-details::-webkit-scrollbar-track {
    background-color: #6200ff;
  }
  .container .movies .movie .desc .expanded-details::-webkit-scrollbar-thumb {
    background-color: #6200ff;
  }
  .container .movies .movie .desc .expanded-details span, .container .movies .movie .desc .expanded-details .rating h5 {
    color: cornflowerblue;
  }
  .container .movies .movie .desc::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, right top, left top, from(#6200ff), to(#0015ff));
    background: linear-gradient(-90deg, #6200ff, #0015ff);
    opacity: 0.8;
    -webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
            clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    -webkit-transition: inherit;
    transition: inherit;
    z-index: -1;
  }
  .container .movies .movie:hover .desc {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .container .movies .movie.focused {
    width: 2500%;
    background-position: 100% 0%;
  }
  .container .movies .movie.focused .desc {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .container .movies .movie.focused .desc::before {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  }
  .container .movies .movie.focused .desc .details {
    width: 0;
    padding: 0;
    opacity: 0;
  }
  .container .movies .movie.focused .desc .expanded-details {
    width: 100%;
    padding: 25px;
    opacity: 1;
  }
  .container .movies .movie.focused .desc .poster {
    height: 100%;
    opacity: 1;
  }
  .container .movies .movie.focused .desc .poster img {
    width: 432px;
  }
  .container .movies .movie.focused .desc .poster span {
    display: initial;
  }
  .container .movies .movie.focused .desc .poster span i {
    height: auto;
    width: auto;
  }
  .container .movies .movie.focused .desc .poster:hover span {
    opacity: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .container .movies .movie.focused .desc .poster:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  .container .movies .movie.not-focused:hover .desc {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
/*# sourceMappingURL=master.css.map */