$oswald: 'Oswald', sans-serif;
$comforta: 'Comfortaa', cursive;

body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.3'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: whitesmoke;
	font-family: $comforta;
}

header {
    padding: 15px;
    background-color: #000000;
    position: relative;
    &::before {
        content: "";
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        position: absolute;
        background: linear-gradient(90deg, #6200ff, #0015ff);
    }
    h1 {
        text-transform: uppercase;
        letter-spacing: -4px;
        font-weight: lighter;
        margin: 0;
        height: 2.5rem;
    }
}

.container-fluid {
    padding: 0;
}

aside {
    background-color: #000000;
    padding: 20px 15px;
    display: flex;
    input {
        padding: 5px;
        font-size: 1rem;
        height: calc(1rem + 10px);
        width: calc(100% - 10px - 120px);
        margin-right: 10px;
    }
    input, button {
        background-color: whitesmoke;
        border: none;
        box-shadow: 0px 0px 0px 0px rgba(144, 75, 255, 0.7);
        transition: 0.3s ease-in-out;
        &:focus {
            box-shadow: 0px 0px 0px 3px rgba(144, 75, 255, 0.7);
            outline: none;
        }
    }
    button {
        min-width: 120px;
        color: #6200ff;
        box-shadow: 0px 0px 0px 0px rgba(144, 75, 255, 0.7);
        transition: 0.3s ease-in-out;
        i {
            transition: inherit;
            width: 0;
            opacity: 0;
        }
        &:hover {
            i {
                margin: 0 5px;
                width: 1rem;
                opacity: 1;
                animation: roll 0.5s forwards;
            }
        }
        &:focus {
            background-color: #6200ff;
            color: whitesmoke;
        }
    }
}

section {
	.movies {
		transition: 0.3s ease-in-out;
		.movie {
            transition: 0.3s ease-in-out;
            background-position: 50% 15%;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 20px auto;
            width: 80vw;
            height: 80vw;
            position: relative;
            .desc {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 10px;
                width: 100%;
                z-index: 0;
                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(90deg, #6200ff, #0015ff);
                    opacity: 0.8;
                    z-index: -1;
                }
                .poster {
                    display: none;
                }
                .expanded-details{
                    position: fixed;
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    overflow: auto;
                    transform: scale(0);
                    opacity: 0;
                    transition: 0.4s ease-out;
                    background-color: #30007c;
                    padding: 20px;
                    span, .rating h5 {
                        color: cornflowerblue;
                    }
                }
            }
            &.focused {
                .expanded-details  {
                    transform: scale(1);
                    opacity: 1;
                }
            }
		}
	}
}

@media only screen and (min-width: 600px) {
    section {
        .movies {
            display: flex;
            flex-wrap: wrap;
            .movie {
                width: 42.5vw;
                height: 42.5vw;
                &:nth-child(even) {
                    margin: 20px 5vw 20px 2.5vw;
                }
                &:nth-child(odd) {
                    margin: 20px 2.5vw 20px 5vw;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .container-fluid {
        height: calc(100vh - 2.5rem - 30px);
        display: flex;
        aside {
            flex-wrap: wrap;
            width: 20%;
            height: fit-content;
            position: relative;
            input,button {
                width: 100%;
                margin: 5px 0;
            }
            &::before {
                content: "";
                height: calc(100vh - 2.5rem - 30px);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                background-color: black;
                z-index: -1;
            }
		}
        section {
            width: 80%;
            height: 100%;
            display: flex;
            .movies {
                margin: auto;
                width: 960px;
                height: calc(960px * 9 / 16);
                display: flex;
                flex-wrap: nowrap;
                transform: translateZ(0);
                perspective: 1000;
                .movie {
                    border: 1px solid white;
                    height: 100%;
                    width: 100%;
                    background-position: 50% 50%;
					transition: 0.4s ease-in-out;
                    position: relative;
                    overflow: hidden;
                    transform: translateZ(0);
                    perspective: 1000;
                    margin: 0;
                    .desc {
                        padding: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
						transition: inherit;
						z-index: 0;
						display: flex;
						height: 100%;
						opacity: 0;
						transform: translateY(-100%);
						h6 {
							transition: inherit;
							font-size: 1rem;
						}
						.poster {
							position: relative;
							height: 100%;
							opacity: 0;
                            transition: inherit;
                            z-index: 0;
                            display: block;
							img {
								height: 100%;
								width: 0;
								transition: inherit;
								animation: hide 0.4s forwards;
							}
							span {
                                position: absolute;
                                top: -100%;
                                left: 0;
                                transform: translate(0, 0);
                                opacity: 0;
                                z-index: 1;
                                color: white;
                                font-size: 1.2rem;
                                transition: opacity 0.4s ease-in-out;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: 0;
                                top: 0;
                                background: linear-gradient(90deg, #6200ff, #0015ff);
                                opacity: 0;
                                transform: scale(0.5);
                                z-index: 1;
                                transition: inherit;
                            }
						}
						.details {
							padding: 15px;
							margin: auto;
                            width: 100%;
                            opacity: 1;
                            transition: inherit;
                        }
                        .expanded-details {
                            position: initial;
                            transform: none;
                            background-color: transparent;
                            display: block;
                            width: 0;
                            padding: 0;
                            opacity: 0;
                            transition: inherit;
                            overflow: auto;
                            scrollbar-color: cornflowerblue #6200ff;
                            scrollbar-width: thin;
                            &::-webkit-scrollbar {
                                width: 7px;
                            }
                            &::-webkit-scrollbar-track {
                                background-color: #6200ff;
                            }
                            &::-webkit-scrollbar-thumb {
                                background-color: #6200ff;
                            }
                            span, .rating h5 {
                                color: cornflowerblue;
                            }
                        }
						&::before {
							content: "";
							position: absolute;
							width: 100%;
							height: 100%;
							bottom: 0;
							left: 0;
							background: linear-gradient(-90deg, #6200ff, #0015ff);
							opacity: 0.8;
							clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
							transition: inherit;
							z-index: -1;
						}
					}
					&:hover {
						.desc {
							opacity: 1;
							transform: translateY(0);
						}
					}
                    &.focused {
                        width: 1500%;
                        background-position: 100% 0%;
                        .desc {
							opacity: 1;
							transform: translateY(0);
							&::before {
								clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
                            }
                            .details {
                                width: 0;
                                padding: 0;
                                opacity: 0;
                            }
                            .expanded-details {
                                width: 100%;
                                padding: 25px;
                                opacity: 1;
                            }
							.poster {
								height: 100%;
								opacity: 1;
								img {
									width: 363.533px;
                                }
                                span {
                                    display: initial;
                                    i {
                                        height: auto;
                                        width: auto;
                                    }
                                }
                                &:hover {
                                    span {
                                        opacity: 1;        
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                    &::before {
                                        transform: scale(1);
                                        opacity: 0.5;
                                    }
                                }
							}
						}
                    }
                    &.not-focused {
                        &:hover {
                            .desc {
                                opacity: 0;
                                transform: translateY(-100%);
                            }
                        }
                    }
                    &:nth-child(2) {
                        background-image: url(../img/2.jpg);
                    }
                    &:nth-child(3) {
                        background-image: url(../img/3.jpg);
                    }
                    &:nth-child(4) {
                        background-image: url(../img/4.jpg);
                        
                    }
                    &:nth-child(5) {
                        background-image: url(../img/5.jpg);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    //agrandar el section
    .container-fluid {
        aside {
            width: 15%;
        }
        section { 
            width: 85%;
            .movies {
				width: 1152px;
				height: calc(1152px * 9 / 16);
            }
        }
    }
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}